section {
	display: inline-block;
	width: 45%;
	vertical-align: top;
}
section.column-1 {
	margin-left: 5%;
}

article {
	border: 1px dashed goldenrod;
	background-color: rgba(180, 40, 40, 0.7);
	padding: 25px;
	
}

article h2:hover {
	color: red;
}

footer {
	clear: both;
}